
<body>
<table class="di1">
    <tr>
        <th><h1>bhai logon ka thobrabook</h1></th>
    </tr>
    <tr>
        
        <td>id yor ponmbr</td>
        <td>pasword</td>
    </tr>
    <tr>
        <td><input name="fname" value="" /></td>
        <td><input name="fname" value="" /></td>
        <td><input type="button" id="submit" name="ghus ja" value="Submit" /></td>
    </tr>
    <tr>
        
        <td><input type="checkbox" name="chkSubject" value="M" />pasword bhoole </td>
        
    </tr>

<tr><td colspan="2">
<h1 >Account Kholeyga?</h1></td></tr>
<tr><td colspan="2"><h2 >Fokat ka Hai. Soch Le</h2>
</td></tr></table>
<table class="" width="500px">
        <tr>
            <td><b>Naam Bata Be:</b></td>
            <td><input name="fname" value="" /></td>
        </tr>
        <tr>
            <td><b>Peechu ka Naam:</b></td>
            <td><input name="fname" value="" /></td>
        </tr>
        <tr>
            <td><b>ID Bata Be:</b></td>
            <td><input name="fname" value="" /></td>
        </tr>
        <tr>
            <td><b>Phir Se Bata:</b></td>
            <td><input name="lname" value="" /></td>
        </tr>
        <tr>
            <td><b>Password Bhi Rakhle:</b></td>
            <td><input name="fname" value="" /></td>
        </tr>
        
        <tr>
            <td><b>kya Hai Be Tu:</b></td>
            <td>
                <select name="sltState">
                    <option value="0" selected>--Select sec--</option>
                    
                </select>
            </td>
        </tr>
        <tr>
            <td><b>Dharti Ka Bojh Kab Badhaya:</b></td>
            <td>
                <select multiple size="1" name="sltState">
                    <option value="0" selected>--Month--</option>
                    
                </select>

                <select multiple size="1" name="sltState">
                    <option value="0" selected>--daey--</option>
                    
                </select>

                <select multiple size="1" name="sltState">
                    <option value="0" selected>--year--</option>
                    
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><h6>kyon Pooch Raha Hal#?</h6></td>

        </tr>
        <tr>
            <td></td>
            <td><h4>Bane Daal per click kara aur teri lagg gai soch samajh ke click karne be</h4></td>

        </tr>
        <tr>
            <td></td>
            <td><h6>Kyon Lagigl Men</h6></td>

        </tr>
        <tr>
            <td></td>
            <td><input type="button" id="submit" name="submit" value="Submit" /></td>
        </tr>
    </table>
</body>