<div class="footer">
    <div>
        <ul>
            <li>
                google
            </li>
            <li>
                google
            </li>
            <li>
                google
            </li>
            <li>
                google
            </li>
            <li>
                google
            </li>
            <li>
                google
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                google
            </li>
            <li>
                google
            </li>
            <li>
                google
            </li>
            <li>
                google
            </li>
            <li>
                google
            </li>
            <li>
                google
            </li>
        </ul>
    </div>
</div>