<p>home works!</p>
<div class="row">
    <div class="col-12">
            <strong>Name: </strong><input  [(ngModel)]="name">
    </div>
    <div class="col-12">
            <input type="button" class="btn-success" (click)="check()" value="Check" />
            <input type="button" class="btn-success" (click)="reset()" value="Reset" />
    </div>
    <div class="col-12">
        <b>{{message}}</b>
    </div>
    <ol>
        <li class="col-12" *ngFor="let student of students">
            {{student}}
        </li>
    </ol>
</div>