<p>home works!</p>
<div class="row">
   
    <div appTestd class="col-12">
        hello
    </div>
        <div  class="col-12" appHeadingHighlight>
                <strong>UserName: </strong><input  [(ngModel)]="name">
        </div>
    
    
        <div class="col-12">
            <strong appTestd [displayTxt]="'evening'">Name: </strong><input  [(ngModel)]="name">
        </div>
    
    <div class="col-12">
            <input appHeadingHighlight type="button" class="btn-success" (click)="check()" value="Show User Name" />
            <input type="button" class="btn-success" (click)="reset()" value="Show Name" />
    </div>
    <div class="col-12">
        <b>{{message}}</b>
    </div>
    <ol>
        <li class="col-12" *ngFor="let student of names" appTestd>
            {{student}}
        </li>
    </ol>
</div>
